# Ignore raw videos

*.mov
*.mp4

/finetuned-model/*

results/*.json
results-past/
results-server/
results-jetson/
results-desktop/
evaluation-results/*.json
evaluation-results/*.png

!/finetuned-model/.gitkeep
!/datasets/inference-test/basketball.mp4

*.png